@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

body{
    background-image: url(images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* .container{    
    position: relative;
    background-image: url(images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
} */

.content{
    position: absolute;
    left: 30%;
    background-color: hsl(0, 0%, 100%);
    width: 70%;
    height: 100%;           
    display: flex;
    flex-direction: column;    
}

.images .front{
    position: absolute;
    top: 110px;
    left: -300px;
}

.images .front img{
    width: 350px;

}

.images .back{
    position: absolute;
    top: 340px;
    left: -230px;
}

.images .back img{
    width: 350px;

}

.images .front-content{
    color: hsl(0, 0%, 100%);
    position: relative;
}

.circles #one{
    position: absolute;
    top: -180px;
    left: 22px;
    background-color: hsl(0, 0%, 100%);
    height: 40px;
    width: 40px;
    border-radius: 50%;  
}
.circles #two{
    position: absolute;
    top: -170px;
    left: 80px;
    background-color: transparent;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid hsl(0, 0%, 100%);  
}

.card-number p{
    position: absolute;
    top: -110px;
    left: 22px;
    font-size: 25px;
    font-weight: 500;
}

.card-user{
    position: absolute;
    bottom: 20px;
    left: 22px;
    display: flex;
    width: 300px;
    justify-content: space-between;         
}

.back-content p{
    position: absolute;
    bottom: 92px;
    right: 60px;
    color: hsl(0, 0%, 100%);
}

.form{    
    height: 100vh;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name, .number{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.inline{
    display: flex;
    padding: 10px 0;   
}

.inline >.date, .cvc{
    display: flex;
    flex-direction: column;    
}

.date-input{
    display: flex;
    flex-direction: row;    
}

input{
    border: 2px solid hsl(270, 3%, 87%);
    border-radius: 10px;
    height: 40px;
    width: 350px;
    padding-left: 10px;
    outline: none;
}

input:focus{
    outline: 2px solid hsl(270, 10%, 60%);
}

.date-input input, .cvc input{
    width: 80px;
    margin-right: 10px;
}

.cvc input{
    width: 170px;
    margin-right: 0;
}

.complete{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.thank-you p{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: hsl(278, 68%, 11%);
    text-align: center;
    padding-bottom: 20px;
}

.thank-you span{
    font-size: 20px;
    font-weight: 100;
    color: hsl(279, 6%, 55%);
    text-align: center;
}

.btn{
    padding: 30px 0;
}

.btn button{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);    
}

.btn button:hover{
    background-color: hsl(279, 6%, 55%);
}

.input-control .error{
    color: hsl(0 100% 70%);    
}

.input-control.error input{
    border: 2px solid hsl(0, 100%, 70%);
}

.input-control.success input{
    outline: 2px solid hsl(278, 68%, 40%);
}


@media  screen and (max-width: 845px) {  
    

    .content{
        position: absolute;
        left: 0px;
        top: 30%;        
        width: 100%;
        height: 70%;

    }

    .images .front{        
        position: absolute;
        top: -90px;
        left: 30px;
        z-index: 1;
    }

    .images .back{
        position: absolute;
        top: -200px;
        left: 130px;
    }
    
    .form{
        height: 100vh;    
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
}